# fly.toml app configuration file generated for startup-stack on 2026-01-04T19:22:39+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'startup-stack'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services.http_checks]]
  interval = 10000
  grace_period = "5s"
  method = "get"
  path = "/api/v1/health"
  protocol = "http"
  timeout = 2000
  tls_skip_verify = false
  [services.http_checks.headers]

[env]
  PORT = 8080
  NODE_ENV = "production"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
